
<app-header></app-header>
<app-banner></app-banner>
<app-moviecarousel [videoContents]="movies" [title]="'Popular On Netflix'"></app-moviecarousel>
<app-moviecarousel [videoContents]="tvshows" [title]="'Trending TV Shows'"></app-moviecarousel>
<app-moviecarousel [videoContents]="nowPlaying" [title]="'Now Playing Movies'"></app-moviecarousel>
<app-moviecarousel [videoContents]="popular" [title]="'Popular Movies'"></app-moviecarousel>
<app-moviecarousel [videoContents]="rated" [title]="'Top Rated Movies'"></app-moviecarousel>
<app-moviecarousel [videoContents]="upcoming" [title]="'Upcoming Movies'"></app-moviecarousel>
